
      <div class="form-row">
        <div class="col-auto">
          <input class="search form-control" placeholder="Search" />
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-1" onclick="dataLayer:push({'event': 'collection-development-and-management'});>Collection Development and Management</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-2" onclick="dataLayer:push({'event': 'preservation'});>Preservation</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-3" onclick="dataLayer:push({'event': 'arrangement-and-description'});>Arrangement and Description</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-4" onclick="dataLayer:push({'event': 'reference-and-outreach'});>Reference and Outreach</button>
        </div>
      </div>
          <button type="button" class="btn btn-outline-secondary" id="filter-none">All</button>
