
      <div class="form-row">
        <div class="col-auto">
          <input class="search form-control" placeholder="Search" />
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-1" onclick="ga('send', 'event', 'search', 'filter', 'collection-development-and-management');">Collection Development and Management</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-2" onclick="ga('send', 'event', 'search', 'filter', 'preservation');">Preservation</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-3" onclick="ga('send', 'event', 'search', 'filter', 'arrangement-and-description');">Arrangement and Description</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" id="filter-4" onclick="ga('send', 'event', 'search', 'filter', 'reference-and-outreach');">Reference and Outreach</button>
        </div>
      </div>
          <button type="button" class="btn btn-outline-secondary" id="filter-none" onclick="ga('send', 'event', 'search', 'filter', 'categories-all');">All</button>
